<!-- -----------------footer section-------------------------- -->

<footer class="footer border-top shadow d-flex justify-content-center bg-light p-3">
  
    <div class="text-muted small">&copy; 2018<script>new Date().getFullYear()>2018&&document.write("-"+new Date().getFullYear());</script>, Jojo Computer Institute.</div>
    
</footer>