<!-- -----------------footer section-------------------------- -->

<footer class="footer border-top">
    <div class="text-center p-5 bg-light">
      <span class="text-muted ">&copy; 2018<script>new Date().getFullYear()>2018&&document.write("-"+new Date().getFullYear());</script>, Designed and Developed By: Jojo Computer Institute..</span>
    </div>
  </footer>