<div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Word
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                                      
                                      <li><a class="dropdown-item" href="dca103practicalwelcomepage">Intro</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca103practicalclasschapter1">Chapter-1 (word)</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca103practicalclasschapter2"> Chapter-2 (word)</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca103practicalclasschapter3"> Chapter-3 (word)</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca103practicalclasschapter4"> Chapter-4 (word)</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca103practicalclasschapter5"> Chapter-5 (word)</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca103practicalclasschapter6"> Chapter-6 (word)</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca103practicalclasschapter7"> Chapter-7 (word)</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca103practicalclasschapter8"> Chapter-8 (word)</a></li>
                                      
                                      <!--<li><a class="dropdown-item" href="dca103practicalclasschapter9"> Chapter-9 (word)</a></li>-->
                                     
                                      
                                    </ul>
                                  
                                  </div>
                                  
                                  <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Excel
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                                      
                                      <!--<li><a class="dropdown-item" href="dca103practicalclasschapter10"> Chapter-10 (excel)</a></li>-->
                                      
                                      <!--<li><a class="dropdown-item" href="dca103practicalclasschapter11"> Chapter-11 (excel)</a></li>-->
                                      
                                      <!--<li><a class="dropdown-item" href="dca103practicalclasschapter12"> Chapter-12 (excel)</a></li>-->
                                      
                                      <!--<li><a class="dropdown-item" href="dca103practicalclasschapter13"> Chapter-13 (excel)</a></li>-->
                                      
                                      <!--<li><a class="dropdown-item" href="dca103practicalclasschapter14"> Chapter-14 (excel)</a></li>-->
                                      
                                      <!--<li><a class="dropdown-item" href="dca103practicalclasschapter15"> Chapter-15 (excel)</a></li>-->
                                      
                                      <!--<li><a class="dropdown-item" href="dca103practicalclasschapter16"> Chapter-16 (excel)</a></li>-->
                                     
                                      
                                    </ul>
                                  
                                  </div>
                                  
                                  <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Powerpoint
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                                      
                                      <!--<li><a class="dropdown-item" href="dca103practicalclasschapter17"> Chapter-17 (powerpoint)</a></li>-->
                                      
                                      <!--<li><a class="dropdown-item" href="dca103practicalclasschapter18"> Chapter-18 (powerpoint)</a></li>-->
                                      
                                      <!--<li><a class="dropdown-item" href="dca103practicalclasschapter19"> Chapter-19 (powerpoint)</a></li>-->
                                      
                                      <!--<li><a class="dropdown-item" href="dca103practicalclasschapter20"> Chapter-20 (powerpoint)</a></li>-->
                                      
                                    </ul>
                                  
                                  </div>