<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 border-bottom">
        
        <div class="fs-5 bgGradientRed border py-1 px-2 text-white"> <i class="fas fa-user-circle greenColor fs-5"></i> <%= capitalizeFirstLetter(username) %> </div>
        
       
        <div class="mb-2 mb-md-0">
             <% if( username == 'tmapuia') { %>
            <a href="/auth/registerStaff"><button type="button" class="btn btn-sm btn-outline-primary me-1">  <i class="fas fa-user-plus text-primary"></i> Add Staff </button></a>
            <% } %>
            <a href="/register"><button type="button" class="btn btn-sm btn-outline-primary me-1">  <i class="fas fa-user-plus text-primary"></i> Add Student </button></a>
            
            <a href="/viewFee"><button type="button" class="btn btn-sm btn-outline-primary me-1">
              <i class="fas fa-rupee-sign text-primary"></i> View Fee 
            </button></a>
          
        </div>

        
      </div>