<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        
        <h5 class="text-secondary">Welcome, <%= username %></h5>
        
       
        <div class="btn-toolbar mb-2 mb-md-0">
          
          <div class="btn-group me-2">
            
            <a href="computer/<%= studentId %>"><button type="button" class="btn btn-sm btn-outline-secondary me-2"> Profile & Fee</button></a>
            
            <a href="#"><button type="button" class="btn btn-sm btn-outline-secondary"> Download</button></a>
            
  
            
          </div>
          
          <!--thoery assignment section start-->
          
          <div class="dropdown  me-2">
                
                <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  
                  Theory
                
                </button>
                
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  
                  <li><a class="dropdown-item" href="dcatheorywelcomepage"> Theory Intro </a></li>
                  
                  <li><a class="dropdown-item" href="dca101welcomepage">DCA-101</a></li>
                  
                  <li><a class="dropdown-item" href="dca102welcomepage">DCA-102</a></li>
                  
                  <li><a class="dropdown-item" href="dca103welcomepage">DCA-103</a></li>
                  
                  <li><a class="dropdown-item" href="dca104welcomepage">DCA-104</a></li>
                  
                  <li><a class="dropdown-item" href="dca105welcomepage">DCA-105</a></li>
                  
                  <li><a class="dropdown-item" href="dca106welcomepage">DCA-106</a></li>
                
                </ul>
              
              </div>
              
              <!--theory assignment section end-->
              
              <!--practical assignment section start-->
              
              <div class="dropdown">
                
                <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  
                  Practical
                
                </button>
                
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  
                  <li><a class="dropdown-item" href="dcatheorywelcomepage"> Practical Intro </a></li>
                  
                  <li><a class="dropdown-item" href="dca101welcomepagepractical">DCA-101</a></li>
                  
                  <li><a class="dropdown-item" href="dca102welcomepagepractical">DCA-102</a></li>
                  
                  <li><a class="dropdown-item" href="dca103welcomepagepractical">DCA-103</a></li>
                  
                  <li><a class="dropdown-item" href="dca104welcomepagepractical">DCA-104</a></li>
                  
                  <li><a class="dropdown-item" href="dca105welcomepagepractical">DCA-105</a></li>
                  
                  <li><a class="dropdown-item" href="dca106welcomepagepractical">DCA-106</a></li>
                
                </ul>
              
              </div>
              
              
              <!--practical assignment section end-->
    
        </div>

        
      </div>