<!--thoery assignment section start-->


          
          <div class="dropdown  me-1">
                
                <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  
                  Subjects
                
                </button>
                
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                  
                  <li><a class="dropdown-item" href="dcatheorywelcomepage"> <i class="far fa-dot-circle bgColor"> </i> Theory Intro </a></li>
                  
                  <li><a class="dropdown-item" href="dca101welcomepage"> <i class="far fa-dot-circle bgColor"> </i> DCA-101</a></li>
                  
                  <li><a class="dropdown-item" href="dca102welcomepage"><i class="far fa-dot-circle bgColor"> </i> DCA-102</a></li>
                  
                  <li><a class="dropdown-item" href="dca103welcomepage"><i class="far fa-dot-circle bgColor"> </i> DCA-103</a></li>
                  
                  <li><a class="dropdown-item" href="dca104welcomepage"> <i class="far fa-dot-circle bgColor"> </i> DCA-104</a></li>
                  
                  <li><a class="dropdown-item" href="dca105welcomepage"> <i class="far fa-dot-circle bgColor"> </i> DCA-105</a></li>
                  
                  <li><a class="dropdown-item" href="dca106welcomepage"><i class="far fa-dot-circle bgColor"> </i> DCA-106</a></li>
                
                </ul>
              
              </div>
              
              <!--theory assignment section end-->