<!--thoery assignment section start-->
          
          <div class="dropdown  me-2">
                
                <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  
                  Subjects
                
                </button>
                
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                  
                  <li><a class="dropdown-item" href="dcapracticalwelcomepage"> Practical Intro </a></li>
                  
                  <!--<li><a class="dropdown-item" href="dca101practicalwelcomepage">DCA-101</a></li>-->
                  
                  <!--<li><a class="dropdown-item" href="dca102practicalwelcomepage">DCA-102</a></li>-->
                  
                  <li><a class="dropdown-item" href="dca103practicalwelcomepage">DCA-103</a></li>
                  
                  <!--<li><a class="dropdown-item" href="dca104practicalwelcomepage">DCA-104</a></li>-->
                  
                  <!--<li><a class="dropdown-item" href="dca105practicalwelcomepage">DCA-105</a></li>-->
                  
                  <!--<li><a class="dropdown-item" href="dca106practicalwelcomepage">DCA-106</a></li>-->
                
                </ul>
              
              </div>
              
              <!--theory assignment section end-->