<!doctype html>

<html lang="en">
  
<%- include('layouts/headers') -%>


<body class="bg-white">
    
    <%- include('layouts/navbar') -%>
    
    <!-- --------------main container section------------------ -->

    <div class="container" style="max-width: 700px">
          <p class="mx-auto text-center mt-3 text-info pb-2 border-bottom">Feel free to contact us</p>
          
          <div class="mt-4"><i class="fas fa-envelope-open-text"></i> - jojocomputerinstitute@gmail.com </div>
          
          <div class="mt-4"><i class="fas fa-mobile-alt"></i> - 9612359711 </div>
    </div>

  
       
  

    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>

  </body>
  
  
</html>
