<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

    <main class="ms-sm-auto px-md-4">
      

      
      
      <!--a lane chung lam-->
      

        
        <div class="row">
          
          <div class="mx-auto shadow-sm rounded px-4 pb-4 mt-3">
            
            <a href="stdDashboard" class="small"> <i class="fas fa-home"></i> Dashboard</i> </a>
            
          <div class="mt-0 rounded text-justify">
            <p class="text-muted fw-light text-center mb-0"> Introduction Page : </p>
            <h3 class="text-dark fs-4 text-center mt-0 mb-0">  Desktop Publishing <br></h3>
            <p class="text-muted fw-light text-center mt-0"> (Theory Thuhma) </p>
            
            <hr class="text-muted">
            
            <p class="fw-normal">DCA I Semester hnuaia subject parukna leh a tawp ber (a code hming <code> DCA-106) </code>kan zir dawn a, 
            a subject hming chu  <code> Desktop Publishing </code> a ni. 
            
            He subject-ah hian <code>Adobe Pagemaker version 7</code> kan zir dawn a, pagemaker hi lehkhabu siamna a ni ber a,
            lehkhabu pui pui ni lem lo, entirnan mitthi vuina programme te leh 
            inneih bullettin ang chi, a thleha thleh theih siamna atante hian an hmang nasa hle a ni.</p>
            
            
            <h5 class="text-dark fw-normal mt-4 ">DCA-106 Chapter te</h5>
            
            <p class="fw-normal mb-4 small ">(I zir tur chapter zelah click ang che.)</p>
            
            
            
            <!-- DCA I Semester subject te... -->
            
              <div class="accordion-item">
                    
                    <h2 class="accordion-header" id="headingSix">
                      
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                       
                          <span class="text-secondary fw-bold"> 6. Desktop Publishing (DCA-106) </span>
                        
                      </button>
                      
                    
                    </h2>
                    
                    <div id="collapseSix" class="accordion-collapse collapse show" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                      
                      <div class="accordion-body">
                        
                        <div class="row">
                          
                              <div class="col-lg-3 col-md-6 col-sm-6"> 
                              
                              <a href="dca106onlineclasschapter1"><button type="button" class="btn btn-link m-2">Chapter-1 <i class="fas fa-angle-right"></i></button></a>
                              
                              </div>
                              
                              <div class=" col-lg-3 col-md-6 col-sm-6"> 
                              
                              <a href="dca106onlineclasschapter2"><button type="button" class="btn btn-link m-2">Chapter-2 <i class="fas fa-angle-right"></i></button></a>
                              
                              
                                </div>

                                <div class=" col-lg-3 col-md-6 col-sm-6"> 

                                <a href="dca106onlineclasschapter3"><button type="button" class="btn btn-link m-2">Chapter-3 <i class="fas fa-angle-right"></i></button></a>

                                </div>
                                
                                <div class=" col-lg-3 col-md-6 col-sm-6"> 
                                
                              <a href="dca106onlineclasschapter4"><button type="button" class="btn btn-link m-2">Chapter-4 <i class="fas fa-angle-right"></i></button></a>

                            </div>
                            
                            <div class="col-lg-3 col-md-6 col-sm-6"> 

                              <a href="dca106onlineclasschapter5"><button type="button" class="btn btn-link m-2">Chapter-5 <i class="fas fa-angle-right"></i></button></a>
                              
                              </div>
                              
                              <div class="col-lg-3 col-md-6 col-sm-6"> 
                              
                              <a href="dca106onlineclasschapter6"><button type="button" class="btn btn-link m-2">Chapter-6 <i class="fas fa-angle-right"></i></button></a>
                            
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                              
                              <a href="dca106onlineclasschapter7"><button type="button" class="btn btn-link m-2">Chapter-7 <i class="fas fa-angle-right"></i></button></a>
                              
                              </div>
                              
                              <div class="col-lg-3 col-md-6 col-sm-6"> 
                              
                              <a href="dca106onlineclasschapter8"><button type="button" class="btn btn-link m-2">Chapter-8 <i class="fas fa-angle-right"></i></button></a>
                            
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6"> 
                              
                              <a href="dca106onlineclasschapter9"><button type="button" class="btn btn-link m-2">Chapter-9 <i class="fas fa-angle-right"></i></button></a>
                            
                            </div>
                            
                            <div class="col-lg-3 col-md-6 col-sm-6"> 
                            
                              <a href="dca106onlineclasschapter10"><button type="button" class="btn btn-link m-2">Chapter-10 <i class="fas fa-angle-right"></i></button></a>
                                
                                </div>
                                
                                 <div class="col-lg-3 col-md-6 col-sm-6"> 
                            
                              <a href="dca106onlineclasschapter11"><button type="button" class="btn btn-link m-2">Chapter-11 <i class="fas fa-angle-right"></i></button></a>
                                
                                </div>
                                
                                 <div class="col-lg-3 col-md-6 col-sm-6"> 
                            
                              <a href="dca106onlineclasschapter12"><button type="button" class="btn btn-link m-2">Chapter-12 <i class="fas fa-angle-right"></i></button></a>
                                
                                </div>
                                 <div class="col-lg-3 col-md-6 col-sm-6"> 
                            
                              <a href="dca106onlineclasschapter13"><button type="button" class="btn btn-link m-2">Chapter-13 <i class="fas fa-angle-right"></i></button></a>
                                
                                </div>
                                
                                <div class="col-lg-3 col-md-6 col-sm-6"> 
                            
                              <a href="dca106onlineclasschapter14"><button type="button" class="btn btn-link m-2">Chapter-14 <i class="fas fa-angle-right"></i></button></a>
                                
                                </div>

                          </div> <!--sixth subject row end-->

                      </div>
                    
                    </div>
                  
                  </div>
                  
                   <hr>

                  
                
                </div>
            
            
      

    </main>
    
</div> <!--end of container-->

    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>

  </body>
  
  
</html>
