<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

    <main class="ms-sm-auto px-md-4">
      

      
      
      <!--a lane chung lam-->
      

        
        <div class="row">
          
          <div class="mx-auto shadow-sm rounded px-4 pb-4 mt-3">
            
            <a href="stdDashboard" class="small"> <i class="fas fa-home"></i> Dashboard</i> </a>
            
          <div class="mt-0 rounded text-justify">
            <p class="text-muted fw-light text-center mb-0"> Introduction Page : </p>
            <h3 class="text-dark fs-4 text-center mt-0 mb-0">  Office Automation Software <br></h3>
            <p class="text-muted fw-light text-center mt-0"> (Theory Thuhma) </p>
            
            <hr class="text-muted">
            
            <p class="fw-normal">DCA I Semester hnuaia subject pathumna (a code hming <code> DCA-103) </code>kan zir dawn a, 
            a subject hming chu  <code> Office Automation Software </code> a ni. 
            
            He subject-ah hian <code>Microsoft Word</code> te,<code> Excel</code> te leh <code>powerpoint </code>  te kan zir ang a, subject khatah 
            software chi hrang pathum kan zir dawn a. 
            Syllabus milin kan zir dawn a ni. </p>
            
            <p>
              
              He subject-ah hian hetiangin mark thendarh a ni. <b>Microsoft Word </b>- 15 marks, <b>Microsoft Excel </b>- 15 marks, <b>Microsoft Powerpoint </b>- 10 marks.
              
            </p>

           
            <h5 class="text-dark fw-normal mt-4 ">DCA-103 Chapter te</h5>
            
            <p class="fw-normal mb-4 small ">(I zir tur chapter zelah click ang che.)</p>
            
            
            
            <!-- DCA I Semester subject te... -->
            
              <div class="accordion" id="accordionExample">
                
                   <div class="accordion-item">
                    
                    <h2 class="accordion-header" id="headingThree">
                      
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                       
                       <span class="text-success fw-bold"> 3. Office Automation Software (DCA-103) </span>
                        
                      </button>
                      
                    
                    </h2>
                    
                    <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                      
                      <div class="accordion-body">
                        
                          <div class="row">
                            
                              <div class="col-lg-3 col-md-6 col-sm-6"> 
                              
                              <a href="dca103onlineclasschapter1"><button type="button" class="btn btn-link m-2">Chapter-1 (word) <i class="fas fa-angle-right"></i></button></a>
                              
                              </div>
                              
                              <div class=" col-lg-3 col-md-6 col-sm-6"> 
                              
                              <a href="dca103onlineclasschapter2"><button type="button" class="btn btn-link m-2">Chapter-2 (word) <i class="fas fa-angle-right"></i></button></a>
                              
                              
                                </div>

                                <div class=" col-lg-3 col-md-6 col-sm-6"> 

                                <a href="dca103onlineclasschapter3"><button type="button" class="btn btn-link m-2">Chapter-3 (word) <i class="fas fa-angle-right"></i></button></a>

                                </div>
                                
                                <div class=" col-lg-3 col-md-6 col-sm-6"> 
                                
                              <a href="dca103onlineclasschapter4"><button type="button" class="btn btn-link m-2">Chapter-4 (word) <i class="fas fa-angle-right"></i></button></a>

                            </div>
                            
                            <div class="col-lg-3 col-md-6 col-sm-6"> 

                              <a href="dca103onlineclasschapter5"><button type="button" class="btn btn-link m-2">Chapter-5 (word) <i class="fas fa-angle-right"></i></button></a>
                              
                              </div>
                              
                              <div class="col-lg-3 col-md-6 col-sm-6"> 
                              
                              <a href="dca103onlineclasschapter6"><button type="button" class="btn btn-link m-2">Chapter-6 (word) <i class="fas fa-angle-right"></i></button></a>
                            
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                              
                              <a href="dca103onlineclasschapter7"><button type="button" class="btn btn-link m-2">Chapter-7 (word) <i class="fas fa-angle-right"></i></button></a>
                              
                              </div>
                              
                              <div class="col-lg-3 col-md-6 col-sm-6"> 
                              
                              <a href="dca103onlineclasschapter8"><button type="button" class="btn btn-link m-2">Chapter-8 (word) <i class="fas fa-angle-right"></i></button></a>
                            
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6"> 
                              
                              <a href="dca103onlineclasschapter9"><button type="button" class="btn btn-link m-2">Chapter-9 (word) <i class="fas fa-angle-right"></i></button></a>
                            
                            </div>
                            
                            <div class="col-lg-3 col-md-6 col-sm-6"> 
                            
                              <a href="dca103onlineclasschapter10"><button type="button" class="btn btn-link m-2">Chapter-10 (excel) <i class="fas fa-angle-right"></i></button></a>
                                
                                </div>
                                
                                
                                <div class="col-lg-3 col-md-6 col-sm-6"> 
                            
                              <a href="dca103onlineclasschapter11"><button type="button" class="btn btn-link m-2">Chapter-11 (excel) <i class="fas fa-angle-right"></i></button></a>
                                
                                </div>
                                
                                <div class="col-lg-3 col-md-6 col-sm-6"> 
                            
                              <a href="dca103onlineclasschapter12"><button type="button" class="btn btn-link m-2">Chapter-12 (excel) <i class="fas fa-angle-right"></i></button></a>
                                
                                </div>
                                
                                <div class="col-lg-3 col-md-6 col-sm-6"> 
                            
                              <a href="dca103onlineclasschapter13"><button type="button" class="btn btn-link m-2">Chapter-13 (excel) <i class="fas fa-angle-right"></i></button></a>
                                
                                </div>
                                
                                <div class="col-lg-3 col-md-6 col-sm-6"> 
                            
                              <a href="dca103onlineclasschapter14"><button type="button" class="btn btn-link m-2">Chapter-14 (excel) <i class="fas fa-angle-right"></i></button></a>
                                
                                </div>
                                
                                <div class="col-lg-3 col-md-6 col-sm-6"> 
                            
                              <a href="dca103onlineclasschapter15"><button type="button" class="btn btn-link m-2">Chapter-15 (excel) <i class="fas fa-angle-right"></i></button></a>
                                
                                </div>
                                
                                <div class="col-lg-3 col-md-6 col-sm-6"> 
                            
                              <a href="dca103onlineclasschapter16"><button type="button" class="btn btn-link m-2">Chapter-16 (excel) <i class="fas fa-angle-right"></i></button></a>
                                
                                </div>
                                
                                <div class="col-lg-3 col-md-6 col-sm-6"> 
                            
                              <a href="dca103onlineclasschapter17"><button type="button" class="btn btn-link m-2">Chapter-17 (powerpoint) <i class="fas fa-angle-right"></i></button></a>
                                
                                </div>
                                
                                <div class="col-lg-3 col-md-6 col-sm-6"> 
                            
                              <a href="dca103onlineclasschapter18"><button type="button" class="btn btn-link m-2">Chapter-18 (powerpoint) <i class="fas fa-angle-right"></i></button></a>
                                
                                </div>
                                
                                <div class="col-lg-3 col-md-6 col-sm-6"> 
                            
                              <a href="dca103onlineclasschapter19"><button type="button" class="btn btn-link m-2">Chapter-19 (powerpoint) <i class="fas fa-angle-right"></i></button></a>
                                
                                </div>
                                
                                <div class="col-lg-3 col-md-6 col-sm-6"> 
                            
                              <a href="dca103onlineclasschapter20"><button type="button" class="btn btn-link m-2">Chapter-20 (powerpoint) <i class="fas fa-angle-right"></i></button></a>
                                
                                </div>

                              </div> <!--third subject row end-->

                      </div>
                    
                    </div>
                  
                  </div>
                  
                   <hr>
            

                  
                
                </div>
            
            
      

    </main>
    
</div> <!--end of container-->

    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>

  </body>
  
  
</html>
