<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

    <main class="ms-sm-auto px-md-4">
      
      <!--a lane chung lam-->
      

        
        <div class="row bg-white">
          
          <div class="mx-auto shadow-sm rounded px-4 pb-4 mt-3">
            
            <div class="d-flex justify-content-between">
            
            <a href="stdDashboard" class="small"> <i class="fas fa-home"></i> Dashboard</i> </a>
            
            
            
            </div>
            
          <div class="mt-0 rounded text-justify">
            
            <p class="text-muted fw-light text-center mb-0"> Welcome Page : </p>
            <h3 class="text-dark fs-4 text-center mt-0 mb-0">  DCA 1st Semester <br></h3>
            <p class="text-muted fw-light text-center mt-0"> (Practical Thuhma) </p>
            
            <hr class="text-muted mt-0">
            
            <p class="fw-normal px-3">Kan hriat tawh angin DCA I Semester hi <code>thlaruk course</code> a ni a, subject ruk a awm a, subject zawng zawngah 
            <code>theory</code> leh <code>practical </code>a awm vek a ni. </p>
            
            
            <p class="px-3">Practical-ah chuan Practical Book kan nei a, chumi mil zel chuan computer-ah zirlaiten an siam ve thin a, instructor ten an siam
            thiam loh leh an tih dik theih loh apiang chu an lo enpui thin a, zirlai class kal thate chuan an hlawkpui thei hle thin. </p>
            

            <p class="fw-normal px-3">Kan hriat angin subject tinah theory-in <code>mark 50</code>, practical hian <code> mark 50 </code>a pu a. Practical mark 50 hi thendarh leh a ni a.
            
            Practical exam-ah mark 40, internal assessment-ah mark 10 tiin. Tuna kan zir tur hi practical exam (mark 40 pu) atana inbuatsaihna chu a ni a; 
            exam inbuatsaihna a nih rualin uluk taka i
            zir chhuah peih phawt chuan computer i thiam phahin confidence i neih phah hle dawn a ni.
            </p>
            <p class="fw-normal px-3"> Computer zir hi a tuimi tan lo chuan thil peihawm loh leh ninawm sam tak a ni a, chuvangin kan zirlaite pawh hi tawi te te
            leh tlem te te zelin kan siam a, i zir hunah pawh harsa lo taka i tih thiam ve ngei tur chauh kan zirpui dawn che a, chu chuan
            i hma lam hun zelah computer-a tuina nasa a pek che kan beisei a ni. </p>
            
            
            <p class="fw-normal px-3">
            Chapter zawng zawng tawpah assignment kan dah zel a, he assignment hi a pawimawh hle a, 
            chhan hmaih nei lova chhan kim vek kan tum zel dawn nia.
            </p>
            
            <hr class="mx-auto w-25">
           

            
            
            <!-- DCA I Semester subject te... -->
            
 
               
               <div class="alert alert-success" role="alert">
                 
                  <h4 class="alert-heading">Under Construction!</h4>
                  
                  <p>Practical Lesson hi kan siam mek a, a video a uluk taka siam ngai a nih avangin hun a duh deuh a, kan la zo thei lo a ni.</p>
                  
                  <hr>
                  
                  
                  <p class="mb-0">Kan zawh veleh kan lo hriattir leh dawn che nia.</p>
                  
                </div>
                               

            
            
      

    </main>
    
</div> <!--end of container-->

    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>

  </body>
  
  
</html>
