<a href="/stdList/delete/<%= students[i]._id %>" onclick="return confirm('Are you sure to delete ' + '<%= students[i].username %>' +' record ?');">
          
          <i class="fas fa-trash-alt border p-1 text-muted rounded" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete" aria-hidden="true"></i>
          
        </a>