<!doctype html>

<html lang="en">
  
<%- include('layouts/headers') -%>


<body class="bg-white">
    
    <%- include('layouts/navbar') -%>
    


    <!-- --------------main container section------------------ -->

    <main role="main" class="container mb-2 mt-3">
        
        <h5 class="text-center p-3 text-muted">Frequently Ask Question (FAQ)</h5>
       
       <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        1. Jojo Computer Institute hi Govt. approved a ni em?
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <em>Aw ni e, Jojo Computer Institute hi Govt. Approved Institute a ni a. Mizoram State Council for Technical Education (MSCTE) hnuaia register a ni.</em>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        2. Jojo Computer Institute hi khawiah nge a awm?
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       <em>Aizawlah leh Kolasib-ah a awm a. Aizawl-ah chuan Chanmari Traffic Point chhak Permarin Centre-ah a awm a. Kolasib-ah chuan Diakkawn phei Elisa Tower-ah a awm a ni.</em>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        3. Zir duh ta ila, admission fee te a awm em?
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <em>Admission fee a awm lo va, form fillup erawh chu a ngai a. Passport size photo 1 leh Id proof neih rem chan ber lo ken tur a ni.</em>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
        4. Monthly Fee pek ngai te a awm ve em?
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       <em> Aw awm e. DCA 1st Semester monthly fee hi Rs. 1,500/- a ni a. DCA 2nd Semester monthly fee chu Rs. 2,000/- a ni. Exam fee a awm bawk a, exam form fillup nan hian Rs. 1510/- a ngai bawk a ni.</em>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
        5. Monthly Fee chu admission tih laiin pek tlak nghal vek a ngai em?
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <em>Ngai lo ve. Thlatin ni 10 hmain pek thin tur a ni.</em>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
        6. Pe tla nghal duh ta ila cheng eng zat nge ngai?
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <em>DCA 1st Semester hi thlaruk course a nih avangin Rs. 1,500 X 6 = Rs. 9,000/- a ngai a. Tin, exam fee khi chhut tel chuan avaiin Rs. 10,510/- a ngai a ni.</em>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSeven">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseThree">
        7. Eng tik hunah nge computer class hi kal tur?
      </button>
    </h2>
    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <em>Zing atanga tlai thlengin institute hi hawn a ni a. Mahni remchan hun darkar thlan bikah nitin darkar khat zel zir tur a ni.</em>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingEight">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseThree">
        8. Saturday-ah class a kal theih tho em?
      </button>
    </h2>
    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <em>Kal theih e. Amaherawhchu, Inrinni hi chu Monday to Friday-a kal kal ve hman lo te tan bik a ni a. Zing dar 10 :30 - dar 2 thleng kan kal thin a ni.</em>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingNine">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseThree">
        9. Nangmahni hnuaia zir si lovin in website-ah hian a lo zir ve theih em?
      </button>
    </h2>
    <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
      <div class="accordion-body">
         <em>Aw theih tehreng mai. Tun dinhmunah chuan kan website-a in-register man hi Rs. 499/- a ni a. Tun tan pawh kan website kaltlang hian inzir ve theih a ni.</em>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTen">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseThree">
        10. Website-ah hian engtia in register tur nge?
      </button>
    </h2>
    <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
      <div class="accordion-body">
         <em>Kan website-a in register duhte chuan jojocomputerinstitute@gmail.com ah mahni detail thawn tur a ni. </em>
      </div>
    </div>
  </div>
</div> 
       
      
    </main>

    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>

  </body>
  
  
</html>
