<!doctype html>

<html lang="en">
  
<%- include('layouts/headers') -%>


<body class="bg-white">
    
    <%- include('layouts/navbar') -%>
    
    
    <!-- He faq hi 26.08.2025 ah ka update a ni a, course fee 9000 atanga 12000 a tihsan hnua ka update a ni -->
    


    <!-- --------------main container section------------------ -->

    <main role="main" class="container mb-2 mt-3">
        
        <h5 class="text-center p-3 text-muted">Frequently Ask Question (FAQ)</h5>
       
       <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        1. Jojo Computer Institute hi Govt. approved a ni em?
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <em>Aw ni e, Jojo Computer Institute hi Govt. Approved Institute a ni a. Mizoram State Council for Technical Education (MSCTE) hnuaia affiliated institute a ni.</em>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        2. Jojo Computer Institute hi khawiah nge a awm?
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       <em><b>Aizawl Centre</b> hi Chanmari veng, Ramhlun road-ah a awm a; <b>Kolasib centre</b> hi Diakkawn phei, Opposite KCN Building ah a awm a; <b>Lunglei centre</b> hi Venglai, Near Shalom Hotel-ah a awm a ni.</em>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        3. Zir duh ta ila, engtin nge admission tih dan tur?
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <em>Admission fee a hran a awm lo va; form fillup tur a ni. Passport size photo 1 leh Id proof neih rem chan ber (aadhar neih chuan duhthusam a ni) lo ken tur a ni a. Whatsapp hmang pawhin hengte hi chu inthawn theih a ni a. Monthly fee hi a tlangpuiin thlakhat an pe nghal thin bawk.</em>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
        4. Monthly Fee te, exam fee te a awm ve em?
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       <em> Aw awm e. Monthly fee hi Course fee tawpin a kal a; thlaruk chhunga DCA 1st Semester zir man hi Rs. 12,000 a ni a. Installment pawhin a pek theih a; thlatin Rs 2,000 zelin a pek theih a ni. Exam fee hi exam hma thla hnih khatah exam form fillup rualin pek tur a ni a; Rs. 1670/- a ni.</em>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
        5. Monthly Fee hi admission tih laiin pek tlak nghal vek a ngai em?
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <em>Ngai kher lo ve. Kan pe tla nghal thei lo a nih pawhin thlatin ni 10 hmain pek thin tur a ni.</em>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
        6. Pe tla nghal duh ta ila cheng eng zat nge ngai?
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <em>DCA 1st Semester hi thlaruk course a nih avangin Rs. 2,000 X 6 = Rs. 12,000/- a ngai a. Tin, exam fee khi chhut tel chuan avaiin Rs. 13,670/- a ngai a ni.</em>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSeven">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseThree">
        7. Eng tik hunah nge computer class hi kal tur?
      </button>
    </h2>
    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <em>Zing atanga tlai thlengin institute hi hawn a ni a. Mahni remchan hun darkar thlan bikah nitin darkar khat zel zir tur a ni.</em>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingEight">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseThree">
        8. Saturday-ah class a kal theih tho em?
      </button>
    </h2>
    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <em>Kal theih e. Inrinni hi Thawhtanni atang Zirtawpnia class kal ve hman lo te tan bik a ni a. Inrinni hi chu zing dar 10 - dar 1 thleng kan kal thin a ni.</em>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTen">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseThree">
        9. In contact number min hrilh thei em?
      </button>
    </h2>
    <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
      <div class="accordion-body">
         <em> Aw thei tehreng mai;
         <p>Pu Mapuia: 9612359711, <br>
         Pi Mary: 9612728031</p></em>
      </div>
    </div>
  </div>
</div> 
       
      
    </main>

    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>

  </body>
  
</html>
