<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<style>

  body {
    
  padding-top: 20px;
  
}

</style>

<body class="text-center">
    
<main class="form-signin shadow rounded border mt-4">
  
   <form action="/authUser/loginStaff" method="POST" autocomplete="off">
    
    <a href="/"><img class="mb-3" src="/img/icon.png" alt="" width="72" height="57"></a>
    
    <h3 class="fs-4 mb-3 fw-normal"> Login for Jojo Staff</h3>
    
     <!--Login laia error awm rawn display tu-->
  
  <% if(errors != null && errors.length > 0 ) { %>
  
      <ul class="list-group"></ul>
      
        <li class="list-group-item list-group-item-danger">
          
          <%= errors %>
          
        </li>
  

    
    </ul>
    
    <% } %>

    <div class="form-floating mb-2">
      
      <input type="text" class="form-control" id="floatingUsername" placeholder="username" name="username" required>
      
      <label for="floatingUsername">Username</label>
      
    </div>
    
    <div class="form-floating mb-2">
      
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" required>
      
      <label for="floatingPassword">Password</label>
      
    </div>

    <button class="w-100 btn btn-success fw-bold text-white" type="submit">Staff Login</button>
    
    <p class="mt-3 text-muted"><span class="text-muted ">&copy; 2018<script>new Date().getFullYear()>2018&&document.write("-"+new Date().getFullYear());</script>, Jojo Computer Institute.</span></p>
  
  </form>
  
</main>

    <%- include('layouts/scripts') %>
    
  </body>
  
</html>
