<!doctype html>

<html lang="en">
  
<%- include('layouts/headers') -%>


<body class="bg-white">
    
    <%- include('layouts/navbar') -%>
    
    <!-- --------------main container section------------------ -->

    <div class="container" style="max-width: 700px">
         
          <p class="mx-auto text-center mt-3 text-info pb-2 border-bottom">Welcome Message</p>
     
          <div class="mt-4">Welcome to Jojo Computer Institute.
        </div>
          <div class="mt-2">Founded in 2018, Jojo Computer Institute is affiliated to Mizoram State Council for Technical Education (MSCTE), Govt. of Mizoram. Since its inception, We have been dedicated to give our best effort towards quality education with a focus on three characteristics, i.e., dependability, fun-learning and uniqueness. We believe that education is not just about getting good grades and securing a job. It also plays a significant role in helping us discover new things what we don’t know and increase our knowledge.
        </div>
        <div class="mt-2">
          Here we have provided not only online lesson for DCA courses but also important study materials viz., previous question, probable question, syllabus, guidebook etc., in a detailed manner for all the subjects. To every student, it’s important to know these resources at the beginning of the academic session. This will help them in understanding what they have to study in the entire session. Also, they can plan their studies in advance.
        </div>
        <div class="mt-2">
          We hope you enjoy our services as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.
        </div>
        <div class="mt-2 text-muted">
                    T Lalnunhlima Mapuia, <br> Proprietor, Jojo Computer Institute
        
        </div>

        </div>

  
       
  

    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>

  </body>
  
  
</html>
