<!doctype html>

<html lang="en">
  
<%- include('layouts/headers') -%>


<body>
    
    <%- include('layouts/navbar') -%>
    
    <!-- --------------main container section------------------ -->

<div class="container">
      <div class="row">
          
           <div class="mx-auto mt-3">
            
            <div class="d-flex justify-content-between">
            
            <a href="#" onclick="window.history.back();" class="small text-secondary"> <i class="fas fa-arrow-left pe-2"></i> Back </i> </a>
            
            </div>
            
            </div>
  </div>
<h1 class="display-4 mt-4">Account Sawifiahna</h1>
<p class="fw-light text-muted">Last updated: September 1, 2021</p>
<p>Chibai le.</p>
<p>Kan website hi kan hnuaia computer zirten anmahni awmna hmun atang pawha thiam taka computer an lo zir theihna tura duan a ni a. Chutih rual chuan 
kan zirlai ni lem lote pawhin an lo hmang ve duh tih kan hria a. A duh apiangte tan kawng kan hawng ta a ni. Tunlaiah chuan sorkar hnathawh
tum tan leh mahni eizawnna bul tan tur tana course lar leh tangkai ber chu DCA 1st Semester hi a ni a. Thlaruk course a ni a. He kan website-ah hian
DCA 1st semester course chu kan zir dawn a ni.</p>
<h2 class="display-6 text-muted">Free Account</h2>
<p>Kan institute hnuaia zirlai zawng zawngte hi free account vek an ni a. Reilote chhung chauh zir tura rawn kalte pawh chhiar tel vek an ni.
<code>Kan zirlaite chuan he website hman man hi a hrana chawi an ngai ve lo</code> va, an duh hun hunah an lut thei a, assignment an chhang thei a, an submit nghal thei bawk a ni.
An assignment chhanna hi Internal Assessment mark-ah a remchan dan angin hman theih a ni ang.
</p>
<h2 class="display-6 text-muted">Unpaid Account</h2>
<p>Kan zirlaite zingah fee engmah la pe lo, admission la tawh si an awm thei a. Hei hi unpaid account a ni. Zirlai dangte ang bawkin kan
website-ah an lut ve thei vek a, amaherawhchu, lesson zawng zawng an chhang thei lo va, subject tinah chapter-1 chauh an chhangin an zir thei a ni.
</p>
<p>Kan zirlai la ni lo; demo id leh password hmanga website chhunga lut chhinte pawh hi unpaid account an ni.</p>
<h2 class="display-6 text-muted">Paid Account</h2>
<p>Kan zirlai ni lo; kan website hmanga rawn zir ve duh si awm theih a ni a. Hengte hi institute danga kal mek, online-a zir ve duhte leh
computer zir ve duh hrim hrim te an ni. A luh man hi Rs. 499/- a ni. Kan zirlaite
angin engkim an chhangin an ti ve thei vek a, online lesson chungchanga tanpui an ngaihna apiangah tanpuiin support pek zel an ni.
</p>
<h2 class="display-6 text-muted">Condition</h2>
<p>Free, paid leh unpaid hi kan website-ah programming hmangin thliar hran a ni; hetiangin:- </p>
<ul>
<li>
<p><strong class="text-muted">Monthly Fee</strong> Rs. 1000/- chin pete chu free access pek an ni.</p>
</li>
<li>
<p><strong class="text-muted">Exam Fee</strong> Rs. 1510/- pe te chu free access pek an ni..</p>
</li>
<li>
<p><strong class="text-muted">Outside Student</strong> Kan zirlai ni lo tu pawh Rs. 499/- pe te chu paid account an ni a, free access pek an ni. </p>
</li>
<li>
<p><strong class="text-muted">Unpaid Account</strong> A chunga pawisa engemaw tal pawh pe lote chu unpaid account an ni a, partial access pek an ni.</p>
</li>
</ul>
<h1 class="display-5 text-muted">Contact Us</h1>
<p>If you have any questions about this Policy, You can contact us:</p>
<ul>
<li>By email: jojocomputerinstitute@gmail.com</li>
<li>By phone: 9612728031, 9612359711</li>
</ul>
</div> 

    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>

  </body>
  
  
</html>
