<!doctype html>

<html lang="en">
  
<%- include('layouts/headers') -%>


<body>
    
    <%- include('layouts/navbar') -%>
    
    <!-- --------------main container section------------------ -->

<div class="container">
      <div class="row">
          
           <div class="mx-auto mt-3">
            
            <div class="d-flex justify-content-between">
            
            <a href="#" onclick="window.history.back();" class="small text-secondary"> <i class="fas fa-arrow-left pe-2"></i> Back </i> </a>
            
            </div>
            
            </div>
  </div>
<h1 class="display-4 mt-4">Pawisa pek chungchang Sawifiahna</h1>
<p class="fw-light text-muted"> first updated: September 1, 2021; 2nd updated: 26.08.2025</p>
<p>Chibai le.</p>
<p>Kan website hi hmang full thei tur chuan kaihhruaina dan kan siam a, pawisa pek tur zat bithliah kan siam a ni.</p>
<h2 class="display-6 text-muted">Jojo zirlaite tan</h2>
<p>Kan zirlaite tan chuan he kan website hman man hi a hrana chawi a ngai lo va;<code> a free a ni. </code> An duh hun hunah an lut thei a, a chhunga assignment awmsa an chhang thei a, an submit nghal thei bawk a ni. Course an zir zawh hnuah pawh an pass emaw pass lo emaw an login chhunzawm thei reng a; an account hi a nung reng dawn a ni.
</p>
<h2 class="display-6 text-muted">Jojo zirlaite admission confirm lo tan</h2>
<p>Kan zirlaite zingah admission form fillup tawh si, course fee emaw exam fee emaw la pe remchang lo an awm thei a. Chungte chuan login thei mahse website chhunga kan dah assignment leh video te an en kim thei lo a ni. 
</p>
<h2 class="display-6 text-muted">Jojo zirlai ni lo tan</h2>
<p>Kan zirlai ni lo tan kan website hi a hman theih lo va. Amaherawhchu, computer zir nan lo hmang ve duh an awm a nih chuan Rs. 1,670/- chawiin an hmang ve thei a ni.
</p>

<h2 class="display-6 text-muted">Khaikhawm ang aw...</h2>
<ul>
<li>
<p><strong class="text-muted">Pawisa</strong> Rs. 1,670 chin pe hrim hrim chuan kan website hi a full-in an hmang thei tihna a ni a.</p>
</li>
<li>
<p><strong class="text-muted">Tichuan</strong> an pawisa pek chhan chu exam fee pawh a ni thei a, course fee pawh a ni thei a, kan zirlai ni lo, website rawn hmang ve duh si te pawisa pek pawh a ni thei e.</p>
</li>
<li>
<p><strong class="text-muted">Kan website chuan</strong> Rs 1,670 pe chin hrim hrim chu a full-in a lo luhtir vek dawn a ni. </p>
</li>
</ul>
<h2 class="display-5 text-muted">Contact Us</h2>
<p>If you have any questions about this Policy, You can contact us:</p>
<ul>
<li>By email: jojocomputerinstitute@gmail.com</li>
<li>By phone: 9612359711</li>
</ul>
</div> 

    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>

  </body>
  
  
</html>
