<!doctype html>

<html lang="en">
  
<%- include('layouts/headers') -%>


<body class="bg-white">
    
    <%- include('layouts/navbar') -%>
    
    <!--main container section-->
    <!--2020 session-->
    <div class="container border-bottom">
          <h5 class="p-3">2021 Session</h5>
        <div class="row mx-auto">
<div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/kolasib_building.jpeg">
        <img src="/img/photoGallery/kolasib_building.jpeg" alt="kolasib_building" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Jojo Computer Institute, Kolasib Branch.</figcaption>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/kolasib_office.jpeg">
        <img src="/img/photoGallery/kolasib_office.jpeg" alt="kolasib_office" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Kolasib Office Room.</figcaption>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/kolasib_student.jpeg">
        <img src="/img/photoGallery/kolasib_student.jpeg" alt="kolasib_student" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted"> Kolasib Class Kal te: 13/10/2021</figcaption>
        </div>
      </a>
    </div>
  </div>
    <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/kolasib_classroom (6).jpeg">
        <img src="/img/photoGallery/kolasib_classroom (6).jpeg" alt="kolasib_classroom (6)" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted"> Kolasib Branch classroom.</figcaption>
        </div>
      </a>
    </div>
  </div>
<div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/kolasib_classroom (8).jpeg">
        <img src="/img/photoGallery/kolasib_classroom (8).jpeg" alt="kolasib_classroom (8)" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Kolasib Branch classroom.</figcaption>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/kolasib_classroom (9).jpeg">
        <img src="/img/photoGallery/kolasib_classroom (9).jpeg" alt="kolasib_classroom (9)" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Kolasib Branch classroom.</figcaption>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/kolasib_classroom.jpeg">
        <img src="/img/photoGallery/kolasib_classroom.jpeg" alt="kolasib_classroom" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Kolasib Branch classroom.</figcaption>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/Aizawl_classroom.jpeg">
        <img src="/img/photoGallery/Aizawl_classroom.jpeg" alt="Aizawl_classroom" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Aizawl Chanmari: 13/10/2021</figcaption>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/Aizawl_classroom (2).jpeg">
        <img src="/img/photoGallery/Aizawl_classroom (2).jpeg" alt="Aizawl_classroom2" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Aizawl Chanmari: 13/10/2021</figcaption>
        </div>
      </a>
    </div>
  </div>
  </div>
  </div>
    <!--2020 session-->
    <div class="container border-bottom">
          <h5 class="p-3">Dec 2020 Session</h5>
        <div class="row mx-auto">
<div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/Pu_Zuala.jpeg">
        <img src="/img/photoGallery/Pu_Zuala.jpeg" alt="Pu_Zuala" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Pu Vl Ngaihzuala hi zirlai kan neih tawhah chuan a upa ber a la ni. 
          July 2021 khan DCA a pass chhuak. 
          Amah hi Electric Engineer niin, 
          tunah hian Aizawl-ah PHE, Section Officer in a thawk mek.</figcaption>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/josei.jpeg">
        <img src="/img/photoGallery/josei.jpeg" alt="josei" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Josephine, Mission Vengthlang Cl-IX zir mekin kan institute-ah computer a rawn zir ve thin.</figcaption>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/davida_ix.jpeg">
        <img src="/img/photoGallery/davida_ix.jpeg" alt="davida class-ix" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Davida, Aizawl venglai Cl-IX zir mekin kan institute-ah computer a rawn zir ve thin.</figcaption>
        </div>
      </a>
    </div>
  </div>
    <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/chanmari_practical_exam (2).jpeg">
        <img src="/img/photoGallery/chanmari_practical_exam (2).jpeg" alt="practical exam2" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Practical Exam 19/02/2021.</figcaption>
        </div>
      </a>
    </div>
  </div>
<div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/chanmari_practical_exam (3).jpeg">
        <img src="/img/photoGallery/chanmari_practical_exam (3).jpeg" alt="practical exam3" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Practical Exam 19/02/2021.</figcaption>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/chanmari_practical_exam (4).jpeg">
        <img src="/img/photoGallery/chanmari_practical_exam (4).jpeg" alt="practical exam4" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Practical Exam 19/02/2021.</figcaption>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/chanmari_practical_exam (5).jpeg">
        <img src="/img/photoGallery/chanmari_practical_exam (5).jpeg" alt="practical exam5" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Practical Exam 19/02/2021.</figcaption>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/chanmari_practical_exam (6).jpeg">
        <img src="/img/photoGallery/chanmari_practical_exam (6).jpeg" alt="practical exam6" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Practical Exam 19/02/2021.</figcaption>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/chanmari_practical_exam.jpeg">
        <img src="/img/photoGallery/chanmari_practical_exam.jpeg" alt="practical exam1" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Practical Exam 19/02/2021.</figcaption>
        </div>
      </a>
    </div>
  </div>
  </div>
  </div>
  
  <!--2019 session-->
        <div class="container border-bottom">
          <h5 class="p-3">Dec 2019 Session</h5>
        <div class="row mx-auto">

          <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/zephyr.jpg">
        <img src="/img/photoGallery/zephyr.jpg" alt="zephyr ho nen" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Zephyr mapuia te nen; ads video siam tumin kan kalkhawm...</figcaption>
        </div>
      </a>
    </div>
  </div>
  
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/IMG-20190905-WA0008.jpg">
        <img src="/img/photoGallery/IMG-20190905-WA0008.jpg" alt="dikilehangaihi" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Teacher Day; 5/09/2019 Diki leh Angaihi...</figcaption>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/IMG-20191004-WA0005.jpg">
        <img src="/img/photoGallery/IMG-20191004-WA0005.jpg" alt="didini&muansanga" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Didini leh K Lalmuansanga 04.10.2019...</figcaption>
        </div>
      </a>
    </div>
  </div>
    <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/IMG-20191016-WA0004.jpg">
        <img src="/img/photoGallery/IMG-20191016-WA0004.jpg" alt="Viva-voce" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Jerry-a kaihhruai viva-voce...</figcaption>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/IMG-20191016-WA0005.jpg">
        <img src="/img/photoGallery/IMG-20191016-WA0005.jpg" alt="Viva-voce" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Viva-voce tho...</figcaption>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/IMG-20191016-WA0006.jpg">
        <img src="/img/photoGallery/IMG-20191016-WA0006.jpg" alt="Viva-voce" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Viva-voce tho...</figcaption>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/IMG-20191016-WA0007.jpg">
        <img src="/img/photoGallery/IMG-20191016-WA0007.jpg" alt="Viva-voce" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Viva-voce tho...</figcaption>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/IMG-20191016-WA0008.jpg">
        <img src="/img/photoGallery/IMG-20191016-WA0008.jpg" alt="Viva-voce" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Viva-voce tho...</figcaption>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/IMG-20191016-WA0015.jpg">
        <img src="/img/photoGallery/IMG-20191016-WA0015.jpg" alt="Theory Class" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Sir Tlana Theory Class 16.10.2019</figcaption>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/IMG-20191016-WA0017.jpg">
        <img src="/img/photoGallery/IMG-20191016-WA0017.jpg" alt="Theory Class" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Sir Tlana Theory Class...</figcaption>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/IMG-20191016-WA0047.jpg">
        <img src="/img/photoGallery/IMG-20191016-WA0047.jpg" alt="zirlai" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">An zir mek...</figcaption>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/IMG-20191016-WA0048.jpg">
        <img src="/img/photoGallery/IMG-20191016-WA0048.jpg" alt="zirlai" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Sawmsawmi thil zir...</figcaption>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/IMG-20191025-WA0012.jpg">
        <img src="/img/photoGallery/IMG-20191025-WA0012.jpg" alt="zirlai" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">class-off ni tea kal hram zel hi an awm a ha3...</figcaption>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/IMG-20191030-WA0004.jpg">
        <img src="/img/photoGallery/IMG-20191030-WA0004.jpg" alt="zirlai" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Pu Mapuia Jojo...</figcaption>
        </div>
      </a>
    </div>
  </div>


  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/IMG-20191031-WA0016.jpg">
        <img src="/img/photoGallery/IMG-20191031-WA0016.jpg" alt="staff" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Jojo Staff KFC before lockdown...</figcaption>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/IMG-20191213-WA0009.jpg">
        <img src="/img/photoGallery/IMG-20191213-WA0009.jpg" alt="test" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">An test mek nge an exam le...</figcaption>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/IMG-20191213-WA0010.jpg">
        <img src="/img/photoGallery/IMG-20191213-WA0010.jpg" alt="practical exam" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Practical Exam zo 13.12.2019...</figcaption>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/IMG-20191213-WA0012.jpg">
        <img src="/img/photoGallery/IMG-20191213-WA0012.jpg" alt="practical exam" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Practical Exam mek 13.12.2019...</figcaption>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/IMG-20191213-WA0013.jpg">
        <img src="/img/photoGallery/IMG-20191213-WA0013.jpg" alt="practical exam" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Practical Exam 13.12.2019...</figcaption>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/IMG-20191213-WA0014.jpg">
        <img src="/img/photoGallery/IMG-20191213-WA0014.jpg" alt="practical exam" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Practical Exam 13.12.2019...</figcaption>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/IMG-20191213-WA0017.jpg">
        <img src="/img/photoGallery/IMG-20191213-WA0017.jpg" alt="practical exam" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Practical Exam 13.12.2019...</figcaption>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/IMG-20191213-WA0022.jpg">
        <img src="/img/photoGallery/IMG-20191213-WA0022.jpg" alt="practical exam" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Practical Exam 13.12.2019 ka lang ve tlat...</figcaption>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/IMG-20191213-WA0023.jpg">
        <img src="/img/photoGallery/IMG-20191213-WA0023.jpg" alt="practical exam" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Dr Miriami leh Sir Rinpuia te hi an tui thei phian...</figcaption>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/IMG-20191214-WA0000.jpg">
        <img src="/img/photoGallery/IMG-20191214-WA0000.jpg" alt="practical exam" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Aw in va ngaihawm hlawm ve...</figcaption>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/IMG-20191214-WA0003.jpg">
        <img src="/img/photoGallery/IMG-20191214-WA0003.jpg" alt="practical exam" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">An serious khawp mai...</figcaption>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/IMG-20191214-WA0004.jpg">
        <img src="/img/photoGallery/IMG-20191214-WA0004.jpg" alt="practical exam" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">An thiam viau zel...</figcaption>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/IMG-20191214-WA0005.jpg">
        <img src="/img/photoGallery/IMG-20191214-WA0005.jpg" alt="practical exam" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Har an ti lo computer zir hi...</figcaption>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/IMG-20191214-WA0006.jpg">
        <img src="/img/photoGallery/IMG-20191214-WA0006.jpg" alt="practical exam" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Photoshop design hi chu an thiam a nia...</figcaption>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/IMG-20191214-WA0007.jpg">
        <img src="/img/photoGallery/IMG-20191214-WA0007.jpg" alt="practical exam" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Awi an ngaihawm e...</figcaption>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/IMG-20191214-WA0009.jpg">
        <img src="/img/photoGallery/IMG-20191214-WA0009.jpg" alt="practical exam" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Duhawma chu va hnehsawh hmel...</figcaption>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/IMG-20191214-WA0011.jpg">
        <img src="/img/photoGallery/IMG-20191214-WA0011.jpg" alt="practical exam" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Tang ru tang ru in pass tha lo ang e...</figcaption>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/IMG-20191226-WA0000.jpg">
        <img src="/img/photoGallery/IMG-20191226-WA0000.jpg" alt="practical exam" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Pu Zuala hi chu lockdown laite khan a tangkai a nia...</figcaption>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/IMG-20200109-WA0008.jpg">
        <img src="/img/photoGallery/IMG-20200109-WA0008.jpg" alt="practical exam" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Exam hall-ah pawh thutpui neih that a pawimawh...</figcaption>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/IMG-20200109-WA0015.jpg">
        <img src="/img/photoGallery/IMG-20200109-WA0015.jpg" alt="practical exam" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Jojo tihlutute pathum...</figcaption>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/IMG-20200109-WA0018.jpg">
        <img src="/img/photoGallery/IMG-20200109-WA0018.jpg" alt="practical exam" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">KFC lama hotute leh valtea theory exam zo...</figcaption>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/picnic0.jpg">
        <img src="/img/photoGallery/picnic0.jpg" alt="picnic0" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Picnic...</figcaption>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/picnic1.jpg">
        <img src="/img/photoGallery/picnic1.jpg" alt="picnic" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Picnic...</figcaption>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/picnic2.jpg">
        <img src="/img/photoGallery/picnic2.jpg" alt="picnic2" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Picnic...</figcaption>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/photoGallery/picnic4.jpg">
        <img src="/img/photoGallery/picnic4.jpg" alt="picnic4" style="width:100%">
        <div class="caption">
          <figcaption class="figure-caption p-2 text-muted">Picnic...</figcaption>
        </div>
      </a>
    </div>
  </div>


</div> 
</div>

  
       
  

    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>

  </body>
  
  
</html>
