<!doctype html>

<html lang="en">
  
<%- include('layouts/headers') -%>


<body class="bg-white">
    
    <%- include('layouts/navbar') -%>
    


    <!-- --------------main container section------------------ -->

    <main role="main" class="container mb-2">
        <!-- --------------main container section------------------ -->
        <div class="container border-bottom">
          <h5 class="p-3">Dec 2019 Session</h5>
        <div class="row mx-auto">

          <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/zephyr.jpg">
        <img src="/img/zephyr.jpg" alt="zephyr ho nen" style="width:100%">
        <div class="caption">
          <p>Zephyr mapuia te nen; ads video siam tumin kan kalkhawm...</p>
        </div>
      </a>
    </div>
  </div>
  
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/IMG-20190905-WA0008.jpg">
        <img src="/img/IMG-20190905-WA0008.jpg" alt="dikilehangaihi" style="width:100%">
        <div class="caption">
          <p>Teacher Day Sep 5 2019 Diki leh Angaihi...</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/IMG-20191004-WA0005.jpg">
        <img src="/img/IMG-20191004-WA0005.jpg" alt="didini&muansanga" style="width:100%">
        <div class="caption">
          <p>Didini leh K Lalmuansanga 04.10.2019...</p>
        </div>
      </a>
    </div>
  </div>
    <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/IMG-20191016-WA0004.jpg">
        <img src="/img/IMG-20191016-WA0004.jpg" alt="Viva-voce" style="width:100%">
        <div class="caption">
          <p>Jerry-a kaihhruai viva-voce...</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/IMG-20191016-WA0005.jpg">
        <img src="/img/IMG-20191016-WA0005.jpg" alt="Viva-voce" style="width:100%">
        <div class="caption">
          <p>Viva-voce tho...</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/IMG-20191016-WA0006.jpg">
        <img src="/img/IMG-20191016-WA0006.jpg" alt="Viva-voce" style="width:100%">
        <div class="caption">
          <p>Viva-voce tho...</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/IMG-20191016-WA0007.jpg">
        <img src="/img/IMG-20191016-WA0007.jpg" alt="Viva-voce" style="width:100%">
        <div class="caption">
          <p>Viva-voce tho...</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/IMG-20191016-WA0008.jpg">
        <img src="/img/IMG-20191016-WA0008.jpg" alt="Viva-voce" style="width:100%">
        <div class="caption">
          <p>Viva-voce tho...</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/IMG-20191016-WA0015.jpg">
        <img src="/img/IMG-20191016-WA0015.jpg" alt="Theory Class" style="width:100%">
        <div class="caption">
          <p>Sir Tlana Theory Class 16.10.2019</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/IMG-20191016-WA0017.jpg">
        <img src="/img/IMG-20191016-WA0017.jpg" alt="Theory Class" style="width:100%">
        <div class="caption">
          <p>Sir Tlana Theory Class...</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/IMG-20191016-WA0047.jpg">
        <img src="/img/IMG-20191016-WA0047.jpg" alt="zirlai" style="width:100%">
        <div class="caption">
          <p>An zir mek...</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/IMG-20191016-WA0048.jpg">
        <img src="/img/IMG-20191016-WA0048.jpg" alt="zirlai" style="width:100%">
        <div class="caption">
          <p>Sawmsawmi thil zir...</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/IMG-20191025-WA0012.jpg">
        <img src="/img/IMG-20191025-WA0012.jpg" alt="zirlai" style="width:100%">
        <div class="caption">
          <p>class-off ni tea kal hram zel hi an awm a ha3...</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/IMG-20191030-WA0004.jpg">
        <img src="/img/IMG-20191030-WA0004.jpg" alt="zirlai" style="width:100%">
        <div class="caption">
          <p>Pu Mapuia Jojo...</p>
        </div>
      </a>
    </div>
  </div>


  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/IMG-20191031-WA0016.jpg">
        <img src="/img/IMG-20191031-WA0016.jpg" alt="staff" style="width:100%">
        <div class="caption">
          <p>Jojo Staff KFC before lockdown...</p>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/IMG-20191213-WA0009.jpg">
        <img src="/img/IMG-20191213-WA0009.jpg" alt="test" style="width:100%">
        <div class="caption">
          <p>An test mek nge an exam le...</p>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/IMG-20191213-WA0010.jpg">
        <img src="/img/IMG-20191213-WA0010.jpg" alt="practical exam" style="width:100%">
        <div class="caption">
          <p>Practical Exam zo 13.12.2019...</p>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/IMG-20191213-WA0012.jpg">
        <img src="/img/IMG-20191213-WA0012.jpg" alt="practical exam" style="width:100%">
        <div class="caption">
          <p>Practical Exam mek 13.12.2019...</p>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/IMG-20191213-WA0013.jpg">
        <img src="/img/IMG-20191213-WA0013.jpg" alt="practical exam" style="width:100%">
        <div class="caption">
          <p>Practical Exam 13.12.2019...</p>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/IMG-20191213-WA0014.jpg">
        <img src="/img/IMG-20191213-WA0014.jpg" alt="practical exam" style="width:100%">
        <div class="caption">
          <p>Practical Exam 13.12.2019...</p>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/IMG-20191213-WA0017.jpg">
        <img src="/img/IMG-20191213-WA0017.jpg" alt="practical exam" style="width:100%">
        <div class="caption">
          <p>Practical Exam 13.12.2019...</p>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/IMG-20191213-WA0022.jpg">
        <img src="/img/IMG-20191213-WA0022.jpg" alt="practical exam" style="width:100%">
        <div class="caption">
          <p>Practical Exam 13.12.2019 ka lang ve tlat...</p>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/IMG-20191213-WA0023.jpg">
        <img src="/img/IMG-20191213-WA0023.jpg" alt="practical exam" style="width:100%">
        <div class="caption">
          <p>Dr Miriami leh Sir Rinpuia te hi an lar phian...</p>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/IMG-20191214-WA0000.jpg">
        <img src="/img/IMG-20191214-WA0000.jpg" alt="practical exam" style="width:100%">
        <div class="caption">
          <p>Aw in va ngaihawm hlawm ve...</p>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/IMG-20191214-WA0003.jpg">
        <img src="/img/IMG-20191214-WA0003.jpg" alt="practical exam" style="width:100%">
        <div class="caption">
          <p>An serious khawp mai...</p>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/IMG-20191214-WA0004.jpg">
        <img src="/img/IMG-20191214-WA0004.jpg" alt="practical exam" style="width:100%">
        <div class="caption">
          <p>An thiam viau zel...</p>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/IMG-20191214-WA0005.jpg">
        <img src="/img/IMG-20191214-WA0005.jpg" alt="practical exam" style="width:100%">
        <div class="caption">
          <p>Har an ti lo computer zir hi...</p>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/IMG-20191214-WA0006.jpg">
        <img src="/img/IMG-20191214-WA0006.jpg" alt="practical exam" style="width:100%">
        <div class="caption">
          <p>Photoshop design hi chu an thiam a nia...</p>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/IMG-20191214-WA0007.jpg">
        <img src="/img/IMG-20191214-WA0007.jpg" alt="practical exam" style="width:100%">
        <div class="caption">
          <p>Awi an ngaihawm e...</p>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/IMG-20191214-WA0009.jpg">
        <img src="/img/IMG-20191214-WA0009.jpg" alt="practical exam" style="width:100%">
        <div class="caption">
          <p>Duhawma chu va hnehsawh hmel...</p>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/IMG-20191214-WA0011.jpg">
        <img src="/img/IMG-20191214-WA0011.jpg" alt="practical exam" style="width:100%">
        <div class="caption">
          <p>Tang ru tang ru in pass tha lo ang e...</p>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/IMG-20191226-WA0000.jpg">
        <img src="/img/IMG-20191226-WA0000.jpg" alt="practical exam" style="width:100%">
        <div class="caption">
          <p>Pu Zuala hi chu lockdown laite khan a tangkai a nia...</p>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/IMG-20200109-WA0008.jpg">
        <img src="/img/IMG-20200109-WA0008.jpg" alt="practical exam" style="width:100%">
        <div class="caption">
          <p>Exam hall-ah pawh lerh deuh hi chu an awm mawle...</p>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/IMG-20200109-WA0015.jpg">
        <img src="/img/IMG-20200109-WA0015.jpg" alt="practical exam" style="width:100%">
        <div class="caption">
          <p>Hemite pathum hi chu aw... Jojo tihlutute an ni tlat...</p>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="/img/IMG-20200109-WA0018.jpg">
        <img src="/img/IMG-20200109-WA0018.jpg" alt="practical exam" style="width:100%">
        <div class="caption">
          <p>KFC lama kan hotute pawh theory an exam e...</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="img/picnic0.jpg">
        <img src="img/picnic0.jpg" alt="picnic0" style="width:100%">
        <div class="caption">
          <p>Picnic...</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="img/picnic1.jpg">
        <img src="img/picnic1.jpg" alt="picnic" style="width:100%">
        <div class="caption">
          <p>Picnic...</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="img/picnic2.jpg">
        <img src="img/picnic2.jpg" alt="picnic2" style="width:100%">
        <div class="caption">
          <p>Picnic...</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <div class="thumbnail card shadow-lg p-2 mb-3 bg-white rounded">
      <a href="img/picnic4.jpg">
        <img src="img/picnic4.jpg" alt="picnic4" style="width:100%">
        <div class="caption">
          <p>Picnic...</p>
        </div>
      </a>
    </div>
  </div>


</div> 
</div>
       
       
    </main>

    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>

  </body>
  
  
</html>
