<!doctype html>
<html lang="en">
  
<%- include('layouts/headers') -%>
<style>
  body {
  padding-top: 20px;
  background-color: #f5f5f5;
}
</style>


<body class="text-center">
 
 <a href="/"><img class="mb-3" src="/img/icon.png" alt="" width="72" height="57"></a>
 
 
<main class="form-register">
  
  <div class="d-flex justify-content-between mb-3">
      
  <h5> <%= viewTitle -%></h5>
  
  <a class="btn btn-warning btn-sm" href="/view/staffList"><i class="fa fa-database"></i> View All Staff</a>
  
</div>


  <form action="/staff/register" method="POST" autocomplete="off">

  <input type="hidden" name="_id" aria-hidden="true">
    
   <div class="row g-2">
                                
   
    
    <div class="form-floating mb-2 col-md">
      <input type="text" class="form-control" id="floatingUsername" placeholder="username" name="username" required>
      <label for="floatingUsername">Username</label>
    </div>
    
    </div>
    <div class="form-floating mb-2 col-md">
      <input type="password" class="form-control" id="floatingPassword" placeholder="password" name="password" required>
      <label for="floatingPassword">Password</label>
    </div>
    
    

</div>
    
    <button class="btn btn-lg btn-primary" type="submit">Register</button>
    
    <p class="mt-3 small"><span class="text-muted ">&copy; 2018<script>new Date().getFullYear()>2018&&document.write("-"+new Date().getFullYear());</script>, Jojo Computer Institute.</span></p>
  
  </form>
  
</main>

    
    <%- include('layouts/scripts') %>
  </body>
  
</html>
