/*-----------------------footer section----------------------*/
  body {
    
    margin-bottom: 0px; /* Margin bottom by footer height */
    
  }
  
  .footer {
    
    position: absolute;
    
    bottom: 0;
    
    width: 100%;
    
    height: 50px; /* Set the fixed height of the footer here */
    
  }
  
  /*-----------------------footer section--------------------------*/