
.navbar {
  
  z-index: 1;
  
  min-height:32px !important; /*navbar lian loa dahna*/
  
  border-bottom: 1px solid #ccc;
  
}

.navbar-brand {
  
  padding-left: 100px;
  
}

.navbar-nav > li > a {
  
  padding-top:5px !important; 
  
  padding-bottom:5px !important;
  
}

.nav-item:hover {
  
 background-color: #d3d3d3;
  
  border-radius: 10%;
  
  animation-delay: 5s;
  
}

.navbar-adjust {
  
  display: flex;
  
  justify-content: flex-end;
  
  padding-right: 100px;
}


.dropdown-item:hover {
  
  border-top: 1px solid #f1f1f1;
  
  border-bottom: 1px solid #f1f1f1;
}

.list-group .studentTable {
  
  border-right: 1px solid #ddd;
  
  border-left: 1px solid #ddd;
  
}

.accordion {
  
    z-index: 0;
    
    background-color: white;
    
    position: relative;

}

.btn-link {
  
  text-decoration: none;
  
}


/*-------------media query for video fullscreen-----------*/
@media only screen and (max-width: 990px) {
  
  .navbar-nav > li > a {
  
  padding-left: 10px !important; 

  }
  
  .navbar-adjust {
    
  display: flex;
  
  justify-content: flex-start;
 
}

.navbar-brand {
  
  padding-left: 10px;
  
}

.threeLine {
  
  margin-right: 10px;
  
}

.container .fontSize {
  
    font-size: small;
  
  }


}

/*media quiery of 990 end ===============================*/


/*style form old static web page*/


.container a{
  
  text-decoration: none;
}

.card {
    text-align: justify;
  }
  
  
  .borderTop {
    
    border-top: 4px solid #dedede;
    
  }

.starter-template {
  
  padding: 3rem 1.5rem;
  
  text-align: center;
}

/*-------------media query for video fullscreen-----------*/

@media only screen and (max-width: 600px) {
  
  .container-fluid, .card-body {
    
    width: 100vw;
    
    padding: 0;
    
    margin: 0;
    
  }
  
  .tryAnswer {
    
    width: 100%;
    
    margin-left: 10px;
    
  }
  
  .card {
    
    box-shadow: none;
    
  }
  
  .welcomepage {
    
    padding: 3px!important;
    
    margin: 0;

  }
  
  .welcomepage h1 {
    
    font-size: 22px;
    
  }
  
  .myTable {
    
    font-size: 13px;
  }
  
}
